
.beer-popup{

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
.image-item{
    height: 80px;
    width: auto;
}
.beer-details{
    hr{
      border-top: initial;
      margin-top: 5px;
      margin-bottom: 5px;
    }
}
}